<div class="logsign">
<h5>Welcome to the EPL Matchday Bettor</h5>
<p>Please login or click Sign Up in the Menu to create a new account.</p>

<form method = "POST" action="/login">
    <label>Email</label><br><input type="email" name="user[email]" placeholder="Enter Email"><br>
    <label>Password</label><br><input type="password" name="user[password]" placeholder="Enter Password"><br><br>
    <input type="submit" value= "Log In">
    <input type="reset">
    </form>
    </div>