<h4>Upload Your Picks!</h4>
<p>Please enter predictions for this week's EPL Matches. If there are less than 10 games, don't worry you don't have to fill out extra fields!</p>
<p>Scoreboards cannot be saved without a name!</p>
<form method = "POST" action = "/scoreboards/new">
<p>Scoreboard Name: <input type="text" name = "scoreboard[name]" placeholder = "Enter your scoreboard name here!"></input></p>
<p>Game 1: <input type="text" name = "scoreboard[game1]" placeholder = "Enter your picks here!"></input></p>
<p>Game 2: <input type="text" name = "scoreboard[game2]" placeholder = "Enter your picks here!"></input></p>
<p>Game 3: <input type="text" name = "scoreboard[game3]" placeholder = "Enter your picks here!"></input></p>
<p>Game 4: <input type="text" name = "scoreboard[game4]" placeholder = "Enter your picks here!"></input></p>
<p>Game 5: <input type="text" name = "scoreboard[game5]" placeholder = "Enter your picks here!"></input></p>
<p>Game 6: <input type="text" name = "scoreboard[game6]" placeholder = "Enter your picks here!"></input></p>
<p>Game 7: <input type="text" name = "scoreboard[game7]" placeholder = "Enter your picks here!"></input></p>
<p>Game 8: <input type="text" name = "scoreboard[game8]" placeholder = "Enter your picks here!"></input></p>
<p>Game 9: <input type="text" name = "scoreboard[game9]" placeholder = "Enter your picks here!"></input></p>
<p>Game 10: <input type="text" name = "scoreboard[game10]" placeholder = "Enter your picks here!"></textarea><br><br>
<input type= "submit" value = "Upload Your Picks"><br><br>
<input type = "submit" onclick="window.location='/scoreboards';" value="Go Back To Home">
</form10