<h4>Upload Your Picks!</h4>
<form method = "POST" action = "/scoreboards/new">
<textarea type="text" name = "scoreboard[name]" placeholder = "Enter your picks here!"></textarea><br>
<input type= "submit" value = "Upload Your Picks">
</form>