<p><%= @scoreboard.name %></p>

<input type = "submit" onclick="window.location='/scoreboards/<%= @scoreboard.id %>/edit';" value="Edit Prediction">
<form action="/scoreboards/<%= @scoreboard.id %>" method = "post">
    <input type = "hidden" name = "_method" value = "delete">
    <input type="submit" value = "Delete Prediction">
    </form>