<form method = "POST" action = "/users/add_friends">
<% @users.each do |user| %>
    <% next if user.id == session["user_id"] %>
<p> <%=user.email %> <input id="<% user.id %>" type = "checkbox" value = "<%= user.email %>"> <br>

<% end %>
<input type = "submit" value = "Submit">
</form>