<div class ="logsign">
<h5>Welcome to the EPL Matchday Bettor</h5>
<p>Please sign up for a new account below. If you already have an account please click Login.<p>

<form method = "POST" action="/signup">
    <label>Email</label><br><input type="email" name="user[email]" placeholder="Enter Email"><br>
    <label>Password</label><br><input type="password" name="user[password]" placeholder="Enter Password"><br>
    <label>Password Confirmation</label><br><input type="password" name="user[password_confirmation]" placeholder="Confirm Password">
    <br><br>
    <input type="submit" value= "Create Account">
    </form>

    </div>