<form method = "POST" action="/signup">
    <h2>Email: </h2><input type="email" name="user[email]" placeholder="Enter Email"><br>
    <h2>Password: </h2><input type="password" name="user[password]" placeholder="Enter Password"><br>
    <h2>Password Confirmation: </h2><input type="password" name="user[password_confirmation]" placeholder="Confirm Password">
    <br><br><br><br>
    <input type="submit" value= "Create Account">
    </form>