<!DOCTYPE html>
<html lang="en">
<head>
<link rel="icon" type="image/png" href="/images/epl-premierleague-logo.png"/>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<link href="/stylesheets/main.css" rel="stylesheet" type="text/css">
</head>
<body class = "page-bg">

<nav class="navbar navbar-expand-lg navbar-light bg-light nav-bar">
  <div class="container-fluid">
    <a class="logo-image" href="/"><img src="/images/epl-premierleague-logo.png" width="50"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <% if logged_in? %> 
        <li class="nav-item">
          <a class="nav-link" href="/scoreboards/new">New Weekly Scoreboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" tabindex="-1" href = "/users" aria-disabled="true">Users</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          <%= @current_user.email%>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item"> <form action='/logout' method = 'post'>
            <input type="hidden" name="method" value="delete">
            <input type="submit" value="Logout">
            </form></a></li>
          </ul>
        </li>
        <% else %>
            <li class="nav-item">
            <a class="nav-link" href="/signup">Sign Up</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="/login">Login</a>
            </li>
            <% end %>
      </ul>
    </div>
  </div>
</nav>
<div class = "container-sm">
<%= flash[:error] %>

<%= yield %>
  </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>